.container{
    width: 960px;
    height: 1260px;
    background: wheat;
    position: relative;
    margin: 0 auto;
}
.wishes{
    width: 700px;
    height:900px;
    border: 10px solid rgba(87, 30, 5, 0.887);
    position: absolute;
    top:200px;
    left:160px
}
.text{
    text-align: center;
    font-size: 50px;
    color: rgb(217, 86, 15);
}
.yaaa{
    width: 135px;
    height: 135px;
    position: absolute;
    top: -10px;
}
.yaaa2{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 550px;
    top: 100px;
}
.yaaa3{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 500px;
    top: 500px;
}
.yaaa4{
    width: 350px;
    height: 350px;
    position: absolute;
    left: -30px;
    top: 600px;
    transform: rotate(-90deg);
}
.yaaa5{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 500px;
    top: 650px;
}
.text2{
 text-align: center;
    font-size: 30px;
    color: rgb(217, 86, 15);
}
.yaaa6{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 250px;
    top: 500px;
}
.yaaa7{
    width: 140px;
    height: 140px;
    position: absolute;
    left: 250px;
    top: 500px;
    left: 50px;
}
.yaaa8{
    width: 140px;
    height: 140px;
    position: absolute;
    left: 250px;
    top: 200px;
    left: 10px;
}